a, p, div, ul, ol, li, section, body, html, h1, h2, h3 {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

button {
  outline: none;
  border: none; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

html {
  scroll-behavior: smooth; }

#app div {
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px; }

.grid-template {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 32px; }

header {
  position: fixed;
  background: transparent;
  width: 100%;
  -webkit-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
  z-index: 10; }

footer {
  background: #efefef; }

main {
  padding: 104px 0 0 0; }

.section-1 {
  background: url(/images/section.jpg);
  opacity: 1;
  background-attachment: fixed; }

.header-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in; }

.footer-container {
  padding: 24px 0; }

h1 {
  font-size: 28px;
  line-height: 32px; }

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal; }

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal; }

.logo-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.for-logo {
  margin-left: 8px; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#top-mobile-menu {
  display: none;
  position: absolute;
  z-index: 10;
  background: #f7f7f7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  height: 100vh;
  top: 0;
  margin: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  opacity: 0;
  -webkit-transform: translateX(105%);
      -ms-transform: translateX(105%);
       -o-transform: translateX(105%);
          transform: translateX(105%); }

#top-mobile-menu .social-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  background: #eaeaea; }

#top-mobile-menu .social-block svg {
  margin-right: 0; }

#top-mobile-menu .social-block .telephone, #top-mobile-menu .social-block .adress, #top-mobile-menu .social-block .vkontakte, #top-mobile-menu .social-block .instagram {
  margin-bottom: 0; }

.background {
  background: #0000008f;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  display: none;
  opacity: 0; }

.header-link {
  padding: 16px 14px;
  margin-left: 8px;
  color: black;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  border-radius: 4px;
  transition: .3s ease-in;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-link:hover {
  background: red;
  color: white; }

.header-link:first-of-type {
  margin-left: 0; }

.main-container {
  padding: 72px 0; }

.aboute-us-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  background: white;
  padding: 14px 16px;
  border-radius: 4px; }

.aboute-us-slider-container {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  position: relative; }

.owl-aboute-us {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13; }

.confectionery-block-title {
  color: black; }

.aboute-us-title, .confectionery-block-title, .gallery-title, .contact-title {
  position: relative;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 16px; }

.confectionery-title {
  position: relative;
  font-size: 21px;
  padding: 12px;
  background: #eae7e7;
  color: #2d2d2d;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px 0px black;
          box-shadow: 0px 0px 1px 0px black;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }

.confectionery-title:hover {
  background: #504dffeb;
  color: white; }

.aboute-us-title::before, .confectionery-block-title::before, .gallery-title::before, .contact-title::before {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: #ff5268;
  bottom: -4px; }

.aboute-us-text, .confectionery-text, .gallery-text, .contact-text {
  font-size: 19px;
  line-height: 28px; }

.aboute-us-slider-container {
  background: #ffffff5e;
  padding: 4px;
  border-radius: 4px; }

.owl-stage-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.aboute-us-slide img, .aboute-us-slide {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  cursor: pointer; }

.owl-aboute-us, .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.fancybox-content img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.owl-dots {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: #000000a8;
  padding: 16px 0px; }

.section-2 {
  display: block; }

.confectionery-block {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  color: white;
  border-radius: 4px; }

.confectionery-img {
  background: #ff5268;
  padding: 4px;
  border-radius: 4px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2; }

.confectionery-img img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.confectionery-text {
  display: none;
  color: black;
  padding: 16px 8px; }

.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #ff5268;
  color: white; }

.owl-dots .active span {
  background-color: #ff5268 !important;
  border-radius: 50%; }

.gallery-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13; }

.our-gallery-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  min-height: 50vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4; }

.gallery-image img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.button-block {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffffdb;
  padding: 16px;
  border-radius: 4px; }

.checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff5268;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  cursor: pointer; }

.checkbox:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
      transform: scale(1.05);
  background: red; }

.jpg {
  border: solid 3px red; }

.png {
  border: solid 3px blue; }

.other {
  border: dashed 3px pink; }

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  -o-transition: -o-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in, -o-transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in; }

.fade-enter, .fade-leave-to {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
   -o-transform: translateX(-100%);
      transform: translateX(-100%); }

.deactive {
  background: #a9a9a9; }

.gallery-image {
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  height: 200px;
  cursor: pointer; }

.gallery-image:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
      transform: scale(1.05); }

.section-gallery {
  background: url(/images/gallery.jpg);
  background-attachment: fixed; }

.gallery-title, .gallery-text {
  color: white; }

.contact-block {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  padding: 16px;
  background: #eaeaea;
  border-radius: 4px; }

.social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.social-block svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  margin-right: 16px; }

.telephone, .adress, .vkontakte, .instagram, .hashtag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  padding: 4px 8px;
  color: black;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  border-radius: 4px; }

.telephone:hover, .vkontakte:hover, .instagram:hover {
  opacity: 0.8;
  background: black;
  color: white; }

.telephone svg path {
  fill: #1dd01d; }

.vkontakte svg path {
  fill: #2f2ff1; }

.map {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2; }

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px; }

.my-info {
  font-weight: bold; }

.color {
  color: green;
  font-weight: bold; }

.fixed-icon-menu {
  height: 28px;
  width: 28px;
  position: fixed;
  z-index: 9;
  bottom: 14px;
  right: 16px;
  background: #444442;
  padding: 12px;
  border-radius: 4px;
  -webkit-animation: hoverWave linear 1.5s infinite;
       -o-animation: hoverWave linear 1.5s infinite;
          animation: hoverWave linear 1.5s infinite;
  -webkit-animation-iteration-count: 3;
       -o-animation-iteration-count: 3;
          animation-iteration-count: 3;
  display: none; }

@-webkit-keyframes hoverWave {
  0% {
    -webkit-box-shadow: 0 8px 10px rgba(76, 77, 78, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
            box-shadow: 0 8px 10px rgba(76, 77, 78, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2); }
  30% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
            box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2); }
  70% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
            box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067); }
  100% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
            box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0); } }

@media (max-width: 1250px) {
  .aboute-us-block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7; }
  .aboute-us-slider-container {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13; }
  .aboute-us-text, .confectionery-text, .gallery-text, .contact-text {
    font-size: 18px;
    line-height: 24px; } }

@media (max-width: 1200px) {
  .gallery-block {
    margin-bottom: 16px; }
  header {
    background: white !important; }
  .header-link {
    padding: 8px; }
  nav {
    margin-top: 16px; }
  .logo-name {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px 0; }
  .container {
    padding: 0 16px; }
  .owl-stage-outer {
    max-height: 320px; }
  .confectionery-img {
    margin-top: 16px; }
  .confectionery-img img {
    max-height: 350px; }
  .aboute-us-slider-container {
    margin-top: 16px; }
  h1 {
    font-size: 24px;
    line-height: 28px; }
  h2 {
    font-size: 21px;
    line-height: 24px; }
  h3 {
    font-size: 18px;
    line-height: 24px; }
  .grid-template {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 1024px) {
  h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal; }
  .header-link {
    padding: 8px 12px; }
  .main-container {
    padding: 48px 0; } }

@media (max-width: 768px) {
  nav {
    margin-top: 8px; }
  .header-container {
    padding: 16px 0; }
  .logo-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .social-block {
    font-size: 14px; }
  .main-container {
    padding: 16px 0; }
  h3 {
    font-size: 14px; }
  main {
    padding: 140px 0 0 0; }
  .aboute-us-title, .confectionery-block-title, .gallery-title, .contact-title {
    font-size: 21px; }
  .aboute-us-text, .confectionery-text, .gallery-text, .contact-text {
    font-size: 14px;
    line-height: 20px; }
  .owl-stage-outer {
    max-height: 250px; }
  .confectionery-title {
    font-size: 16px; }
  .our-gallery-block {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr); }
  .button-block {
    margin: 16px 0; }
  .map {
    display: none; } }

@media (max-width: 600px) {
  .fixed-icon-menu {
    display: block; }
  main {
    padding: 96px 0 0 0; }
  #top-menu {
    display: none; }
  .header-link {
    border-radius: 0;
    margin: 0; } }

@media (max-width: 400px) {
  .our-gallery-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr); }
  .gallery-image {
    height: 150px; } }
