@media (max-width:1250px) {
    .aboute-us-block {
        grid-column: 1/7;
    }
    .aboute-us-slider-container {
        grid-column: 7/13;
    }
    .aboute-us-text,
    .confectionery-text,
    .gallery-text,
    .contact-text {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width:1200px) {
    .gallery-block {
        margin-bottom: 16px;
    }
    header {
        background: white!important;
    }
    .header-link {
        padding: 8px;
    }
    nav {
        margin-top: 16px;
    }
    .logo-name {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .header-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 24px 0;
    }
    .container {
        padding: 0 16px;
    }
    .owl-stage-outer {
        max-height: 320px;
    }
    .confectionery-img {
        margin-top: 16px;
    }
    .confectionery-img img {
        max-height: 350px;
    }
    .aboute-us-slider-container {
        margin-top: 16px;
    }
    h1 {
        font-size: 24px;
        line-height: 28px;
    }
    h2 {
        font-size: 21px;
        line-height: 24px;
    }
    h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .grid-template {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}

@media (max-width:1024px) {
    h2 {
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
    }
    .header-link {
        padding: 8px 12px;
    }
    .main-container {
        padding: 48px 0;
    }
}

@media (max-width:768px) {
    .main-container {
        padding: 32px 0;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    main {
        padding: 140px 0 0 0;
    }
    .aboute-us-title,
    .confectionery-block-title,
    .gallery-title,
    .contact-title {
        font-size: 21px;
    }
    .aboute-us-text,
    .confectionery-text,
    .gallery-text,
    .contact-text {
        font-size: 14px;
        line-height: 20px;
    }
    .owl-stage-outer {
        max-height: 250px;
    }
    .confectionery-title {
        font-size: 16px;
    }
    .our-gallery-block {
        grid-template-columns: repeat(2, 1fr);
    }
    .button-block {
        margin: 16px 0;
    }
    .map {
        display: none;
    }
}